---
http_interactions:
- request:
    method: get
    uri: https://demo.eftchecks.com/webservices/AuthGateway.asmx?WSDL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://tempuri.org/GETI.eMagnus.WebServices/AuthGateway\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://tempuri.org/GETI.eMagnus.WebServices/AuthGateway\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://tempuri.org/GETI.eMagnus.WebServices/AuthGateway\">\r\n
        \     <s:element name=\"AuthGatewayCertification\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"DataPacket\" type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"AuthGatewayCertificationResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"AuthGatewayCertificationResult\" type=\"s:string\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"AuthGatewayHeader\" type=\"tns:AuthGatewayHeader\"
        />\r\n      <s:complexType name=\"AuthGatewayHeader\">\r\n        <s:complexContent
        mixed=\"false\">\r\n          <s:extension base=\"tns:RemoteAccessHeader\"
        />\r\n        </s:complexContent>\r\n      </s:complexType>\r\n      <s:complexType
        name=\"RemoteAccessHeader\">\r\n        <s:sequence>\r\n          <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"UserName\" type=\"s:string\" />\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Password\" type=\"s:string\"
        />\r\n          <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"TerminalID\"
        type=\"s:int\" />\r\n        </s:sequence>\r\n        <s:anyAttribute />\r\n
        \     </s:complexType>\r\n      <s:element name=\"GetCertificationTerminalSettings\">\r\n
        \       <s:complexType />\r\n      </s:element>\r\n      <s:element name=\"GetCertificationTerminalSettingsResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetCertificationTerminalSettingsResult\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
    [...]
- request:
    method: post
    uri: https://demo.eftchecks.com/webservices/AuthGateway.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/GETI.eMagnus.WebServices/AuthGateway"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Header><AuthGatewayHeader
        xmlns="http://tempuri.org/GETI.eMagnus.WebServices/AuthGateway"><UserName>VersaPayCert</UserName><Password>Vm8w4kwKn3xe2!</Password><TerminalID>2310</TerminalID></AuthGatewayHeader></env:Header><env:Body><tns:AuthGatewayCertification><tns:DataPacket>&lt;?xml
        version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;AUTH_GATEWAY&gt;&lt;TRANSACTION&gt;&lt;TRANSACTION_ID/&gt;&lt;MERCHANT&gt;&lt;TERMINAL_ID&gt;2310&lt;/TERMINAL_ID&gt;&lt;/MERCHANT&gt;&lt;PACKET&gt;&lt;IDENTIFIER&gt;A&lt;/IDENTIFIER&gt;&lt;ACCOUNT&gt;&lt;ROUTING_NUMBER&gt;123456778&lt;/ROUTING_NUMBER&gt;&lt;ACCOUNT_NUMBER&gt;1234567890&lt;/ACCOUNT_NUMBER&gt;&lt;ACCOUNT_TYPE&gt;Checking&lt;/ACCOUNT_TYPE&gt;&lt;/ACCOUNT&gt;&lt;CONSUMER&gt;&lt;FIRST_NAME&gt;Bob&lt;/FIRST_NAME&gt;&lt;LAST_NAME&gt;Smith&lt;/LAST_NAME&gt;&lt;ADDRESS1/&gt;&lt;ADDRESS2/&gt;&lt;CITY/&gt;&lt;STATE/&gt;&lt;ZIP/&gt;&lt;PHONE_NUMBER/&gt;&lt;DL_STATE/&gt;&lt;DL_NUMBER/&gt;&lt;COURTESY_CARD_ID/&gt;&lt;/CONSUMER&gt;&lt;CHECK&gt;&lt;CHECK_AMOUNT&gt;10&lt;/CHECK_AMOUNT&gt;&lt;/CHECK&gt;&lt;/PACKET&gt;&lt;/TRANSACTION&gt;&lt;/AUTH_GATEWAY&gt;</tns:DataPacket></tns:AuthGatewayCertification></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/GETI.eMagnus.WebServices/AuthGateway/AuthGatewayCertification"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AuthGatewayCertificationResponse
        xmlns="http://tempuri.org/GETI.eMagnus.WebServices/AuthGateway"><AuthGatewayCertificationResult>&lt;?xml
        version="1.0" encoding="utf-8"?&gt;&lt;RESPONSE xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" REQUEST_ID=""&gt;&lt;VALIDATION_MESSAGE&gt;&lt;RESULT&gt;Passed&lt;/RESULT&gt;&lt;SCHEMA_FILE_PATH&gt;http://demo.eftchecks.com/webservices/Schemas/WEB/Ng_CheckNoVerificationDLOptional.xsd&lt;/SCHEMA_FILE_PATH&gt;&lt;/VALIDATION_MESSAGE&gt;&lt;/RESPONSE&gt;</AuthGatewayCertificationResult></AuthGatewayCertificationResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 28 Feb 2019 06:17:04 GMT
recorded_with: VCR 4.0.0
